body {
	margin: 0 0 0 0;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}

.inf {
	/**border: 1px solid black;**/
	width: 40em;
	margin-top: 6em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 1em;
	background-color: rgba(255, 255, 255, .5)
}

.inf h1 {
	font-size: 20pt;
	font-variant: bold;
}

.inf p {
	font-size: 10pt;
	font-variant: regular;
}

.inf img {
	width: 20em;
	margin-left: 10em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.inf a {
	
	text-decoration: none;
	color: black;
	font-size: 11pt;
	font-variant: regular;
	
}

.b {
	margin-top: 2em;
	border: 1px solid black;
	/**border-radius: 17px;**/
	padding-top: 5px;
	padding-bottom: 5px;
	transition-duration: .5s;
}

.b:hover {
	background-color: rgba(255, 255, 255, .5);
}